/* Estilos para el título de la página */
/* Aplicando inicialmente el selector universal */
/* El tipo de fuente es opcional para pueba, luego lo podemos cambiar */

*{
	padding: 0;
margin: 0;
font-family: garamond;
}

/* Aplicando color de fondo al body */
/* El color puede modificarse */

body{
	background-color: black;
}

header h1{
	color: white;
	text-align: center;
	padding: 20px;

}
header nav{
	overflow: hidden;
	background: #;
}
/* Para quitar el estilo a la lista */
header nav ul{
	list-style:none; 
}
/* Para poner el menú en línea */
header nav ul li a{
	float: left;
	padding: 10px;
	text-decoration: none;
	display: block;
	color: #;
}
/* Darle color al menú cuando pasas por encima */
header nav ul li a:hover{
	background: #; 

}
