/* Estilos para el título de la página */
/* Aplicando inicialmente el selector universal 
y a la base de la página*/

*{
	padding: AUTO;
	margin: auto;
	text-align: center;
}

/*Efectos básicos en colores*/
body{
	background-color: #dddddd;
	font-family: sans-serif;
	color: ffffff;
}

/*Redimensión para páginas responsive*/
header, main, footer{
	width: 95vw;
	margin: auto;
}

/*................................................................*/
/*Personalización referente a la portada de la página*/

/*Estilos de cabecera PENDIENTE DE REVISIÓN*/
header{
	color: #333333;
	text-align: center;
	padding: 20px;
	font-family: Helvetica;
	height:max-content;
	/*Ajustes de la imagen de cabecera de la página*/
	background: url("imagen/pexels-dominika-roseclay-1244705.jpg");
	background-position: center;
	
}

.logoPeque{
	height: 40px;
}

h1{
	font-family: Papyrus;
	vertical-align: middle;
	color: white;
	background-color: #333333;
}

.logoPrincipal{
	width: 5vw;
}

/* Para quitar el estilo a la lista */
header nav ul{
	list-style:none; 

}


/*Características generales del menu*/
header nav{
	border-radius: 15px;
	background-color: #333333;
	overflow: auto;
	/*Posición del menu respecto a la página: relativa en el desplazamiento
	y centrado*/
	position:-webkit-sticky;

}


/*Atributos de los elementos de las distintas listas*/
.menu ul {
	display:flex;
	align-items: center;
	color: #023859;
	font: Helvetica;
}

 /* Aplica estilos a los link del menu desplegable */
 .menu a{
	color: white;
	font-size: 12pt;
	display: flex;
	padding: 10px 60px;
	background-color: #333333;
	
	text-decoration: none;
}

/* Color de fondo del menu con la accion hover (pasar ratón) */
/* colores gradiantes lineal */
.menu a:hover {
	background-image: linear-gradient(#FFD700, #FFA500);
	color: #333333;
}

/* Esconde los submenus del navegador */
.menu ul li ul {
	display: none;
}

/* Muestra los submenus del navegador cuando pasas el ratón */
.menu ul li a:hover + ul {
	display: block;
	position: absolute;
}

/* Mantiene visible los submenus */
.menu ul li ul:hover{
	display: block;
	position: absolute;
}

/*................................................................*/

/*Relativo al main*/

/* Aplicando estilos al MAIN */
#iframe{
	margin: 5vh;
	display: flex;
	width: 65vw;
	height: 100vh;
	float: left;
	border-style: none;
}

/*................................................................*/

/*Relativo al aside*/
aside{
	width: 33vw;
	max-width: 300px;
	padding: 10px;
	background: #ffffff;
	border-radius: 15px;
	margin: 5vh;
	float: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#logo{
	float:left;
	width: 85%;
	height: 85%;
}

/* Color gris cuando pasa el mouse encima */ 
#logo:hover img {
	background-color: #FFD700;
}

/*................................................................*/

/*Relativo al footer*/
#maps{
	border-style: none;
}
/* Aplicando estilos al FOOTER */
footer, h5{
	background-color: #333333;
	color: #FFD700;
	border-radius: 15px;
	text-align:center ;
	clear:both;
	padding: 10px 0px;
}