*{
	padding:0;
	margin:0;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
	
	background-image: -webkit-linear-gradient(black,grey, black);
}
header,.main{
	width:90%;
	max-width:800px;
	margin:20px auto;  
}
header h1{
	text-align:center;
	margin-bottom: 0px;
}
header nav{
	background:#4464ad;
	overflow:hidden; 
}
header nav ul{
	list-style:none; 
}
header nav ul li{
	float:left; 
}
header nav ul li a{
	padding:10px 20px;
	display:block;
	color:#fff;
	text-decoration:none;   
}
header nav ul li a:hover{
	background:#2b4570; 

}
.main .articles{
	width:85%;
	float:left;  
}
.main .articles article{
	padding:20px;
	background:#bc50c0;
	width: 112%;
	margin-bottom:0px;   
}
.main .articles img{
	margin: 0px;
	width: 118%;
	height: 65%;
}
